<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main>
		<footer id="footer" class="footer">
			<div class="copyright">&copy; CAO ĐẲNG THỰC HÀNH FPT
				POLYTECHNIC CƠ SỞ CẦN THƠ 2023</div>
			<div class="credits">

				Designed by <a href="/memberInformation.html">Tùng - Thiên -
					Tường - Phát - Hào</a>
			</div>
		</footer>
		<div class="backTop">
			<button onclick="topFunction()" id="totop" title="Go to top">
				<i class="fa-solid fa-arrow-up"></i>
			</button>
		</div>

		<script src="/js/statistics.js"></script>
		<script src="/js/backTop.js"></script>
	</main>
</body>
</html>