<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <main>
        <header id="header" class="header fixed-top d-flex align-items-center">
            <div class="d-flex align-items-center justify-content-between">
                <a href="/admin/index" class="logo d-flex align-items-center">
                    <img src="/icon/smartwatch-app.png" alt="">
                    <span class="d-none d-lg-block text-uppercase">Watchtopia SHOP</span>
                </a>
                <i class="fa-solid fa-bars-staggered toggle-sidebar-btn" style="font-size: 25px;"></i>
            </div>
            <div class="search-bar">
                <form class="search-form d-flex align-items-center" method="POST" action="#">
                    <input type="text" name="query" placeholder="Tìm kiếm ...">
                    <button type="submit" title="Search"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <nav class="header-nav ms-auto">

                <ul class="d-flex align-items-center">
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                            <i class="fa-regular fa-bell fa-beat" style="color: #000000;"></i>
                            <span class="badge bg-primary badge-number">4</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                            <li class="dropdown-header">
                                Thông báo đã nhận gần đây
                                <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Đánh dấu xem tất cả</span></a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <div class="each">
                                <li class="notification-item">
                                    <img src="/img/w1.png" alt="" style="width: 50px; margin-right: 10px;">
                                    <div>
                                        <h4>Đơn hàng mới</h4>
                                        <p>
                                            tuong6969 đã đặt một đơn hàng COD 230708FA4PE5EY. Vui lòng không giao hàng cho đến khi Mã vận đơn được cập nhật trong chi tiết đơn hàng.
                                        </p>
                                        <p>Đơn hàng |10:20 09/07/2023</p>
                                    </div>
                                </li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            </div>

                            <li class="dropdown-footer">
                                <a href="#">Xem tất cả thông báo</a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item d-block d-lg-none">
                        <a class="nav-link nav-icon search-bar-toggle " href="#">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </li>

                    <li class="nav-item dropdown pe-3">
                        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                            <img src="/icon/avatarNEW.png" alt="Profile" class="rounded-circle">
                            <span class="d-none d-md-block dropdown-toggle ps-2">Lucas</span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                            <li class="dropdown-header">
                                <h6>Lucas - Tung</h6>
                                <span>Admin</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="/user/profile">
                                    <i class="fa-solid fa-circle-user"></i>
                                    <span>Trang Cá Nhân</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="">
                                    <i class="fa-solid fa-user-gear"></i>
                                    <span>Cài Đặt</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="">
                                    <i class="fa-solid fa-circle-question"></i>
                                    <span>Cần Hỗ Trợ ?</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="/account/logoff">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                    <span>Đăng Xuất</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

        <aside id="sidebar" class="sidebar">
            <ul class="sidebar-nav" id="sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link " th:href="@{|/admin/index|}">
                        <i class="fa-regular fa-clipboard"></i>
                        <span>Thống Kê</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                        <i class="fa-solid fa-clock"></i><span>Sản Phẩm</span>
                        <i class="fa-solid fa-caret-down ms-auto"></i>
                    </a>
                    <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a href="/product/addproduct">
                                <i class="fa-solid fa-caret-right" style="font-size: 15px;"></i><span>Thêm Sản Phẩm</span>
                            </a>
                        </li>
                        <li>
                            <a href="/product/UpdateProduct">
                                <i class="fa-solid fa-caret-right" style="font-size: 15px;"></i><span>Cập Nhật Sản Phẩm</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/inventory">
                                <i class="fa-solid fa-caret-right" style="font-size: 15px;"></i><span>Nhập Kho Sản Phẩm</span>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                        <i class="fa-solid fa-table-list"></i><span>Danh Sách</span>
                        <i class="fa-solid fa-caret-down ms-auto"></i>
                    </a>
                    <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a href="/product/listproduct">
                                <i class="fa-solid fa-caret-right" style="font-size: 15px;"></i><span>Danh Sách Sản Phẩm</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/inventory">
                                <i class="fa-solid fa-caret-right" style="font-size: 15px;"></i><span>Danh Sách Kho</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#listUsers-nav" data-bs-toggle="collapse" href="#">
                        <i class="fa-solid fa-users"></i><span>Người Dùng</span>
                        <i class="fa-solid fa-caret-down ms-auto"></i>
                    </a>
                    <ul id="listUsers-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a href="/admin/userlist">
                                <i class="fa-solid fa-caret-right" style="font-size: 15px;"></i><span>Danh Sách Tài Khoản</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/history">
                                <i class="fa-solid fa-caret-right" style="font-size: 15px;"></i><span>Lịch Sử Đănh Nhập</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#listOrder-nav" data-bs-toggle="collapse" href="#">
                        <i class="fa-solid fa-users"></i><span>Quản Lý Đơn Hàng</span>
                        <i class="fa-solid fa-caret-down ms-auto"></i>
                    </a>
                    <ul id="listOrder-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a href="/admin/order">
                                <i class="fa-solid fa-caret-right" style="font-size: 15px;"></i><span>Tất Cả</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa-solid fa-caret-right" style="font-size: 15px;"></i><span>Đơn Hàng Mới</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/order/listOrdCancel">
                                <i class="fa-solid fa-caret-right" style="font-size: 15px;"></i><span>Đơn Hủy</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa-solid fa-caret-right" style="font-size: 15px;"></i><span>Trả Hàng/ Hoàn Tiền</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <hr>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#">
                        <i class="fa-solid fa-circle-user"></i>
                        <span>Trang Cá Nhân</span>
                    </a>
                </li>
            </ul>
        </aside>
    </main>
</body>

</html>