<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{account/layout2::areas(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main>
		<div class="form-box">
			<form class="form-change" action="/account/changePassword"
				method="post">
				<span class="title-change">Đổi Mật Khẩu</span> <span
					class="subtitle-change">Vui lòng không chia sẻ mật khẩu.</span>
				<div class="form-container-change">
					<input type="password" class="input-change" name="passwords"
						placeholder="Mật khẩu mới"> <input type="password"
						class="input-change" name="passwordsTwo"
						placeholder="Nhập lại mật khẩu">
				</div>
				<button>Đổi mật khẩu</button>
				<div class="form-container-change">
					<c:if test="${succ == true}">
						<div class="alert alert-success" role="alert">Đổi mật khẩu thành công!</div>
					</c:if>
					<c:if test="${errorNull == true}">
						<div class="alert alert-danger" role="alert">Xác nhận mật
							khẩu không đúng!</div>
					</c:if>
				</div>
			</form>
			<div class="form-section-change">
				<p>
					Bạn đã có tài khoản? <a href="/account/login">Đăng nhập</a>
				</p>
			</div>
		</div>
	</main>
</body>
</html>