<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{account/layout2::areas(~{::main})}">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <main>
        <div class="form-box">
            <form class="form-change" action="/account/changePassword" method="post">
                <span class="title-change">Đổi Mật Khẩu</span> <span class="subtitle-change">Vui lòng không chia sẻ mật khẩu.</span>
                <div class="form-container-change">
                    <input type="password" class="input-change" name="passwords" placeholder="Mật khẩu mới">
                    <input type="password" class="input-change" name="passwordsTwo" placeholder="Nhập lại mật khẩu">
                </div>
                <button>Đổi mật khẩu</button>
                <div th:if="${successPass} == true" class="alert alert-success" role="alert">Cập nhật thành công!</div>
                <div th:if="${errorPass} == true" class="alert alert-danger" role="alert">Kiểm tra lại mật khẩu!</div>
            </form>
            <div class="form-section-change">
                <p>
                    Bạn đã có tài khoản? <a href="/account/login">Đăng nhập</a>
                </p>
            </div>
        </div>
    </main>
</body>

</html>