<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{account/layout2::areas(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main>
		<div class="popup">
			<form class="form" action="/account/forgetPassword" method="post">
				<div class="icon">
					<img src="/icon/smartwatch-app.png" alt="">
				</div>
				<div class="note">
					<label class="title">Quên mật khẩu?</label> <span class="subtitle">Vì
						vấn đề bảo mật, vui lòng không chia sẻ mật khẩu với người khác.</span>
				</div>
				<input placeholder="Enter your e-mail" title="Enter your e-mail"
					name="email" type="email" class="input_field">
				<button class="submit">Gửi</button>
				<div class="w-100">
					<!-- <c:if test="${errorNull == true}">
						<div class="alert alert-danger" role="alert">Email không tồn
							tại!</div>
					</c:if> -->
				</div>
			</form>
		</div>
	</main>
</body>
</html>