<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<a class="navbar-brand" href="/home/index"
						style="margin-left: 15px;"> <span class="text-uppercase">
							Watchtopia Shop </span>
					</a>
				</ul>
				<span class="navbar-text"> <a href="#"
					style="text-decoration: none; color: red;">Cần giúp đỡ?</a>
				</span>
			</div>
		</div>
	</nav>
</body>
</html>