<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{admin::areas(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<main id="main" class="main">
		<div class="pagetitle">
			<h1>Thêm Sản Phẩm</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/Statistics.html">Trang
							Chủ</a></li>
					<li class="breadcrumb-item"><a href="/Statistics.html">Sản
							Phẩm</a></li>
					<li class="breadcrumb-item active">Thêm Sản Phẩm</li>
				</ol>
			</nav>
		</div>
		<section class="section dashboard">
			<div class="row">
				<div class="col-xl-12">
					<div class="card">
						<div class="card-body pt-3">
							<ul class="nav nav-tabs nav-tabs-bordered">
								<li class="nav-item">
									<button class="nav-link active" data-bs-toggle="tab"
										data-bs-target="#addProduct">Thêm Sản Phẩm</button>
								</li>
							</ul>
							<div class="tab-content pt-2">
								<div class="tab-pane fade show active pt-3" id="addProduct">
									<form th:object="${prod}" action="/product/addproduct" method="post"
										enctype="multipart/form-data">
										<div class="row mb-3">
											<label for="" class="col-md-4 col-lg-3 col-form-label">Hình
												ảnh</label>
											<div class="col-md-8 col-lg-9">
												<img src="" alt="" id="imgProduct" style="width: 10%;">
												<div class="pt-2">
													<input type="text"  th:field="*{product_img}" name="product_img" id="Filename" hidden>
														<input type="file" class="fileform" id="formFile"
															style="display: none;"> <label for="formFile"
															id="customFile" onclick="defautlBtnIMG()"
															class="btn btn-primary btn-sm"><i
															class="fa-solid fa-upload"></i></label> <label id="deleteFile"
															class="btn btn-danger btn-sm"><i
															class="fa-solid fa-trash-can"></i></label>
												</div>
											</div>
										</div>

										<div class="row mb-3">
											<label for="fullName"
												class="col-md-4 col-lg-3 col-form-label">Tên Sản
												Phẩm</label>
											<div class="col-md-8 col-lg-9">
												<input  th:field="*{product_name}" name="product_name" type="text" class="form-control"
													id="fullName" placeholder="Tên sản phẩm">
											</div>
										</div>

										<div class="row mb-3">
											<label for="about" class="col-md-4 col-lg-3 col-form-label">Mô
												tả</label>
											<div class="col-md-8 col-lg-9">
												<textarea th:field="*{product_describe}"  name="product_describe" class="form-control"
													id="about" style="height: 100px">
                                                
                                                </textarea>
											</div>
										</div>

										<div class="row mb-3">
											<label for="price" class="col-md-4 col-lg-3 col-form-label">Giá</label>
											<div class="col-md-8 col-lg-9">
												<input th:field="*{product_price}" name="product_price" type="text" class="form-control"
													id="price">
											</div>
										</div>

										<div class="row mb-3">
											<label for="brand" class="col-md-4 col-lg-3 col-form-label">Thương
												hiệu</label>
											<div class="col-md-8 col-lg-9">
												<select th:field="*{branch}"  class="form-select" name="branch"
													aria-label="Default select example">
													
														<option th:each="br : ${branchs}" th:text="${br.brands_name}" th:value="${br.brands_id}" ></option>
												
												</select>
											</div>
										</div>

										<div class="row mb-3">
											<label for="Country" class="col-md-4 col-lg-3 col-form-label">Loại</label>
											<div class="col-md-8 col-lg-9">
												<select th:field="*{type}" class="form-select" name="type"
													aria-label="Default select example">
													
														<option th:each="item_type : ${types}" th:text="${item_type.types_name}" th:value="${item_type.types_id}"></option>
												
												</select>
											</div>
										</div>

										<div class="row mb-3">
											<label for="Country" class="col-md-4 col-lg-3 col-form-label"></label>
											<div class="col-md-8 col-lg-9">
												<button type="submit" class="btn btn-primary">Thêm</button>
											</div>

										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

	</main>

</body>
</html>