<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{admin::areas(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<main id="main" class="main">
		<div class="pagetitle">
			<h1>Danh Sách Sản Phẩm</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/Statistics.html">Trang
							Chủ</a></li>
					<li class="breadcrumb-item"><a href="/Statistics.html">Sản
							Phẩm</a></li>
					<li class="breadcrumb-item active">Danh Sách Sản Phẩm</li>
				</ol>
			</nav>
		</div>
		<section class="shop_section layout_padding">
			<!-- <c:if test="${userNull == true}">
				<div class="notification">
					<div class="toast-war warning-war">
						<i class="fa-solid fa-triangle-exclamation"></i>
						<div class="content">
							<div class="title-war">Cảnh Báo!</div>
							<span>Bạn chưa đăng nhập vào tài khoản.</span>
						</div>
					</div>
				</div>
			</c:if> -->
			<div class="container">
				<div class="row">										
						<div class="col-sm-6 col-xl-3" th:each="p: ${items}">
                        <div class="box">
                            <a th:href="@{|/home/details/${p.product_id}|}">
                                <div class="img-box">
                                    <img th:src="@{|/img/${p.product_img}|}" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6 th:utext="${p.product_name}">

                                    </h6>
                                    <h6>
                                        Giá:
                                        <span th:utext="${p.product_price}">
                                            
                                        </span>
                                    </h6>
                                </div>
                                <div class="new">
                                    <span>
                                        Mới
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
				</div>
				
			</div>
		</section>

	</main>
</body>
</html>