<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{admin::areas(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<main id="main" class="main">
        <div class="pagetitle">
            <h1>Thông Báo</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Statistics.html">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Tất cả thông báo</li>
                </ol>
            </nav>
        </div>
        <section class="section dashboard">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header bg-white">
                            Tất cả thông báo <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Đánh dấu xem tất cả</span></a>
                        </div>
                        <div class="card-body">
                            <nav class="header-nav ms-auto">
                                <ul class="">
                                    <div class="each">
                                        <li class="notification-item d-lg-flex">
                                            <img src="/img/w1.png" alt="" style="width: 100px; margin-right: 15px;">
                                            <div>
                                                <h4>Đơn hàng mới</h4>
                                                <p>
                                                    tuong6969 đã đặt một đơn hàng COD 230708FA4PE5EY. Vui lòng không giao hàng cho đến khi Mã vận đơn được cập nhật trong chi tiết đơn hàng.
                                                </p>
                                                <p>Đơn hàng |10:20 09/07/2023</p>
                                            </div>
                                        </li>

                                        <li>
                                            <hr>
                                        </li>
                                    </div>
                                    <div class="each">
                                        <li class="notification-item d-lg-flex">
                                            <img src="/img/w1.png" alt="" style="width: 100px; margin-right: 15px;">
                                            <div>
                                                <h4>Đơn hàng mới</h4>
                                                <p>
                                                    tuong6969 đã đặt một đơn hàng COD 230708FA4PE5EY. Vui lòng không giao hàng cho đến khi Mã vận đơn được cập nhật trong chi tiết đơn hàng.
                                                </p>
                                                <p>Đơn hàng |10:20 09/07/2023</p>
                                            </div>
                                        </li>

                                        <li>
                                            <hr>
                                        </li>
                                    </div>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
</body>
</html>