<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin::areas(~{::main})}">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>

    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Quản Lý Đơn Hàng</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Statistics.html">Trang Chủ</a></li>
                    <li class="breadcrumb-item"><a href="/Statistics.html">Quản Lý Đơn Hàng</a></li>
                    <li class="breadcrumb-item active">Đơn hàng mới</li>
                </ol>
            </nav>
        </div>
        <section class="section dashboard">
            <div class="row">
                <div class="col-xl-12">

                    <table class="table table-dark table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã đơn hàng</th>

                                <th scope="col">Người Đặt Hàng</th>
                                <th scope="col">Thời Gian</th>
                                 <th scope="col">Trạng thái</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr th:each="order, state: ${listOrder}">
                                <th class="col">[[${state.index+1}]]</th>
                                <td class="col">[[${order.orders_id}]]</td>

                                <td class="col">[[${order.fullname}]]</td>
                                <td class="col">[[${order.orders_time}]]</td>
                                 <td class="col">[[${order.status.status_name}]]</td>
                                <td class="col">
									<a th:href="@{|/admin/order/update/${order.orders_id}|}" ><button th:disabled="${order.status.status_id > 2}" class="btn btn-primary">Cập nhật</button></a>
									<a th:href="@{|/admin/order/detele/${order.orders_id}|}" ><button th:disabled="${order.status.status_id==4}" class="btn btn-danger">Hủy đơn</button></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <h5 th:class="${color}" th:utext="${message}"></h5>

                    <!-- <div class="card">
                        <div class="card-body pt-3">
                            <ul class="nav nav-tabs nav-tabs-bordered">
                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#addProduct">Chi Tiết Đơn Hàng</button>
                                </li>
                            </ul>
                            <div class="tab-content pt-2">
                                <div class="tab-pane fade show active pt-3" id="addProduct">
                                    <form>
                                        <div class="row mb-3">
                                            <label for="" class="col-md-4 col-lg-3 col-form-label">Hình ảnh</label>
                                            <div class="col-md-8 col-lg-9">
                                                <img src="/img/w1.png" alt="" style="width: 10%;">

                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Tên Sản Phẩm</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="fullName" type="text" class="form-control" id="fullName" placeholder="Tên sản phẩm">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="about" class="col-md-4 col-lg-3 col-form-label">Mô tả</label>
                                            <div class="col-md-8 col-lg-9">
                                                <textarea name="about" class="form-control" id="about" style="height: 100px">
                                                
                                                </textarea>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="price" class="col-md-4 col-lg-3 col-form-label">Giá</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="price" type="text" class="form-control" id="price">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="brand" class="col-md-4 col-lg-3 col-form-label">Thương hiệu</label>
                                            <div class="col-md-8 col-lg-9">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>LC</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="Country" class="col-md-4 col-lg-3 col-form-label">Loại</label>
                                            <div class="col-md-8 col-lg-9">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>LC</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="Country" class="col-md-4 col-lg-3 col-form-label">Trạng Thái</label>
                                            <div class="col-md-8 col-lg-9">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>Chuẩn bị</option>
                                                    <option value="1">Đang giao</option>
                                                    <option value="2">Hoàn Thành</option>
                                                    <option value="3">Hủy Đơn</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="Country" class="col-md-4 col-lg-3 col-form-label"></label>
                                            <div class="col-md-8 col-lg-9">
                                                <button type="submit" class="btn btn-primary">Cập nhật</button>

                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>
        </section>

    </main>
</body>

</html>